.headerTop {
  border-bottom: 1px solid var(--color-grey-400);
  box-sizing: border-box;
  padding: 12px 40px;
}

.headerBottom {
  border-bottom: 1px solid #E0E0E0;
  box-sizing: border-box;
  padding: 9px 40px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoIcon {
  width: 105px;
  height: 48px;
}

.btnLang {
  font-size: var(--font-size-link);
  font-weight: var(--font-weights-semibold);
  line-height: var(--line-heights-link);
  text-transform: uppercase;
}

.hide {
  display: none;
}

.navList {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navLink {
  font-size: var(--font-size-link);
  font-weight: var(--font-weights-semibold);
  line-height: var(--line-heights-link);
  color: var(--color-dark);
}

.btnCart {
  font-size: var(--font-size-link);
  font-weight: var(--font-weights-semibold);
  line-height: var(--line-heights-link);
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnCartIcon {
  height: 16px;
  width: 16px;
}