.filterContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.buttonFilter {
  font-weight: var(--font-weights-semibold);
}

.buttonFilterActive {
  color: var(--color-deep-blue);
}
